@charset "utf-8";
/* CSS Document */
p {
	color: purple;
	
}

button {
	background-color: blueviolet;
	border-color: wheat;
}
h1 {
	color: red;
}
h2 {
	color: orange;
}
h3 {
	color: yellow;
}
img {
	position: absolute;
	top: 100px;
	right: 800px;
}